.btn-primary {
  background: $pink-lady;
  border: none;

  &:hover {
    background-color: $pink-lady-80;
  }

  &:not(:disabled):not(.disabled) {
    &:active {
      background-color: $pink-lady;
    }
  }

  &:disabled, &.disabled {
    background-color: $pink-lady-80;
    cursor: not-allowed;
  }

  &:active {
    background-color: $pink-lady;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem $pink-lady-50;
  }
}
