<nav class="navbar top-navigation navbar-expand-lg navbar-light bg-blue py-0 pr-0">
  <form class="form-inline search-form my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
  <ul class="navbar-nav nav-right">
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><i class="far fa-bell"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><i class="far fa-user"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#"><i class="fas fa-ellipsis-v"></i></a>
    </li>
  </ul>
</nav>
